

body{
    margin: 0px;
    background-color: #ffffff
}

@media all and (max-width: 480px) {
    /* body{
        background-color: #3d1c0f
   } */


   .ban1{
    background-image: url("assets/img/HeadlineImage_1.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 20rem;
    
    top: 15px;
    
    }


 
   h1{
    position: relative;
    margin: 0 auto;
    font-size: 1.1rem;
    font-family: bold;
    color: aliceblue;
    text-align: center;
    font-weight: bolder;
    padding-top: 18px;


   }

   .p1{
       color: red;
       text-align: center;
       max-width: 100%;
       font-size: 1.8rem;
       font-family: bold;
       background-color: rgba(255, 255, 255, 0.685);
       border-radius: 3px;
   }

   .p2{
       color: aliceblue;
       font-size: 01.3rem;
       max-width: 95%;
      text-align:  center;
      padding-left:12px; 

      }

      h2{
          color:rgb(7, 3, 3);
          position: relative;
          left:30px;
          top: 20px;
          width:75%;
          text-align: left;
          font-size: 0.9rem;
          max-width: 90%;
          padding-top:10px;
         } 



        /* .desserts{
          top: 30px;
          height: 400px;
          width:100%;
      } */


      .item{
        position: relative;
        margin: 0 auto;
       
      width:80%px;
      text-align:center;
      display:block;
      margin: 11%;
      /* float:left; */
   
    }
    
    #index-gallery{
        position: relative;
        top:20px;
        
        background: linear-gradient(90deg, rgba(131,61,16,0.4472163865546218) 0%, rgba(214,134,44,0.9710259103641457) 45%, rgba(204,174,26,0.23993347338935578) 100%);
    
      width:100%;
      height: 1300px;
      /* border: 5px solid red; */
    }
    
    .innerdiv{
        position: relative;
        margin: 0 auto;
        width: 90%;
        height: 300px;
      
    
    }
    
    .imgitem{
        position: relative;
        width:280px;
    }
     .item, p{
         text-align: center;
         font-size: 2em;
     }
    /*  */


   #p23{
       
    color: rgb(0, 0, 0);
    position: relative;
    text-align: left;
    max-width: 80% ;
    height: 20px;
    font-family: bold;
    top: 50px;
    font-size: 0.75rem;
    left: 25px;
    margin: 0;
   }

    #p23 span{
       margin:400px;
   }
   #enz{
       list-style-type: none; 
    position: relative;
    top: 100px;
    color: rgb(1, 2, 2);
    font-size: 0.6rem;
    margin: 15px;
    left: -25px;
}
  #p24{

    position: relative;
    top:100px;
    font-size: 0.75rem;
    max-width: 80% ;
    left:20px;
  }


   
   
   #enz li:before {
    content: '✓ ';
  }
  
  #p4{
    color: rgb(0, 0, 0);
    position: relative;
    top: 240px;
    text-align: left;
    max-width: 80% ;
    height: 20px;
    font-family: bold;
    font-size: 0.75rem;
    left: 25px;
    margin: 0;
  }  

  .paralax{
 
    position: relative;
    top: 100px;
    background-image: url("assets/img/ParallaxOne_5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width:100%;
    height: 200px;
    /* border: 5px solid red; */
  
  
}



 
  h3{
      position: relative;
      height: 120px;
      font-weight: bolder;
      font-family: bold;
      color: rgb(226, 226, 226);
      font-size: 1.7rem;
      text-align: left;
      padding-left: 8px;
      top: 30px;

  }
  h3 span{
    /* border: 5px solid red; */
      font-family: sans-serif;
    padding-top: 20px;
    color: rgb(226, 226, 226);
    font-size: 0.9rem;
}
 
.bar {
    /* border: 5px solid red; */
    position: relative;
    background-color: #3d1c0f;
    top: 120px;
    width: 100%;
    height: 250px;
}
h4
{ 
    
    position: relative;
    top:-5px;
    width:80%;
    left:5px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-size: 1.09rem;
    text-align: center;
    /* border: 5px solid red; */
    width:80%;
    
    
    

}
h4 span{
    padding-top: 30px;
    display: block;

}

#docimg {

     visibility: hidden;
    height: 1px;
    /* border: 5px solid red; */
    
    
}


.skep{
    position: relative;
    top: 150px;

}

#br{
    text-align: left;
    font-size: 0.8rem;
    margin: 0 auto;
    width: 75%;
    padding-bottom: 5px;

}

#rd{
    text-align: left;
    font-size: 0.8rem;
    margin: 0 auto;
    width: 75%;
    padding-bottom: 5px;

}

.gears{
    background-image: url("assets/img/Gears_15.jpg");
    position: relative;
    top: 180px;
    width: 100%;
    background-size:cover;


}

#yell{
    padding-top: 8px;
    text-align: left;
    color: yellow;
    margin: 0 auto;
    font-size: 0.9rem;
    width:66%;


}



#yell span {
    color: aliceblue;
    font-size: 0.8rem;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 2px;
}

#secp{
    color: aliceblue;
    font-size: 0.8rem;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 2px;
    margin: 0 auto;
    width:66%;


}

#threep {
    color: aliceblue;
    font-size: 0.5rem;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 2px;
    margin: 0 auto;
    width:66%;

}


.findiv{
   
    position: relative;
    top:200px;
    margin: 0 auto;
}
#gatee{
    position: relative;
    margin: 0 auto;
    width: 100%;

}

.lastcontainer1{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    
   
}
.lastdivimg{
    background-image: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgba(246, 246, 246, 0.822) 86%, rgba(237, 237, 237, 0.185) 100%),url("assets/img/TransparentArrowBkgd.jpg");
    background-size: cover;
    height: 2400px;
    background-repeat: no-repeat;
  
}
.lastcontainer2{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.356);
}


.fin{
    position: relative;
    top:55px;
    background-image: url("assets/img/TransparentArrowBkgd.jpg");
    z-index:-1;
    height:1500px;
    
    background-size:cover;
    
   

}
.findiv2{
    position: relative;
    width: 66%;
    top: 264px;
    background-color: rgba(248, 248, 248, 0.808);
    margin: 0 auto;
}

.arrow{
    position: relative;
    top:100px;
    height: 100px;
    width:100%;
    
    /* margin: 0 auto;
    width: 100%;
    left: 68px;
    opacity: 0.5; */


}
#arrowimg{
   
    height: 100px;
    width: 100%;

}
 p{
     font-size: 0.7em
 }

 .buttonfin{

position: relative;
display: flex;
  justify-content: center;
top:-100px;
border-color: rgb(230, 222, 222);

}
.btn-warning{
    color: white;
    position: relative;
    margin: 0 auto ;
    /* left: 9rem; */
    border-style: solid;
  border-color: rgb(255, 255, 255);


 
   
    width: 150px;
    height: 55px;
}

.btn span{
    width:20%;
    font-size: 0.06rem;
}
/* 
.grenlab{
    color: green;
    text-decoration-line: underline;
    width:45%;
    font-size: 0.5rem;
    text-align: center;
    margin:  auto;
} */












} 
@media all and (min-width: 480px) and (max-width: 768px)  { 

    .ban1{
        background-image: url("assets/img/HeadlineImage_1.jpg");
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 35rem;
        top:px;
        }

        h1{
            position: relative;
            margin: 0 auto;
            font-size: 1.1rem;
            font-family: bold;
            color: aliceblue;
            text-align: center;
            font-weight: bolder;
            padding-top: 18px;
        
        
           }
        
           .p1{
            color: red;
            padding-top: 20px;
            text-align: center;
            max-width: 100%;
            height: 8\10vw;
            font-weight: bolder;
            font-size: 5.0rem;
            font-family: bold;
            background-color: rgba(255, 255, 255, 0.685);
            border-radius: 3px;
           }
        
           .p2{
               color: aliceblue;
               font-size: 01.3rem;
               max-width: 95%;
              text-align:  center;
              padding-left:12px; 
        
              }
              /*  */

              
              h2{
                color:rgb(7, 3, 3);
                position: relative;
                left:30px;
                top: 20px;
                width:75%;
                text-align: left;
                font-size: 1.2rem;
                width: 90%;
                padding-top:10px;
               } 
               /*  */
               .desserts{
                position: relative;
                background: rgb(131,61,16);
                background: linear-gradient(90deg, rgba(131,61,16,0.4472163865546218) 0%, rgba(214,134,44,0.9710259103641457) 45%, rgba(204,174,26,0.23993347338935578) 100%);
                top: 30px;
               
                /* height:700px; */
               
        
            } 
              
           /* .tasty{
          

                width:150px;
               border: 5px solid red;
               float: left;
                margin: 2px; 
               top: 200px;
               position: relative;
               display: block;
               width: 180px; 
               text-align: center;
                margin:0 auto;   
                float: left;   
               
           } */
           
        /*
           #picName{
       
               /* position: relative;
               top: 200px;
               margin: 0 auto;
               text-align: center;
               font-size: 1.8em; */
        
.item{
    position: relative;
    margin: 0 auto;
   
  width:80%px;
  text-align:center;
  display:block;
  margin: 20px;
  /* float:left; */
  
}

#index-gallery{
    position: absolute;
    top:650px;
    background: linear-gradient(90deg, rgba(131,61,16,0.4472163865546218) 0%, rgba(214,134,44,0.9710259103641457) 45%, rgba(204,174,26,0.23993347338935578) 100%);

  width:100%;
  height: 1500px;
 
}

.innerdiv{
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 300px;



}

.imgitem{
    position: relative;
    width:280px;
}
 .item, p{
     text-align: center;
     font-size: 2em;
 }

 /*  */

 .cp1{
     position: relative;
     top:1500px
 }
 #p23{
       
    color: rgb(0, 0, 0);
    position: relative;
    text-align: left;
    max-width: 80% ;
    height: 20px;
    font-family: bold;
    top: 20px;
    font-size: 0.75rem;
    left: 25px;
    margin: 0;
   }

    #p23 ,span{
       padding-top:40px;
   }
   #enz{
       list-style-type: none; 
    position: relative;
    top: 60px;
    color: rgb(1, 2, 2);
    font-size: 0.6rem;
    margin: 15px;
    left: -25px;
}
  #p24{

    position: relative;
    top:70px;
    font-size: 0.6rem;
    max-width: 80% ;
    left:20px;
  }


   
   
   #enz li:before {
    content: '✓ ';
  }
  
  #p4{
    color: rgb(0, 0, 0);
    position: relative;
    top: 240px;
    text-align: left;
    max-width: 80% ;
    height: 20px;
    font-family: bold;
    font-size: 0.75rem;
    left: 25px;
    margin: 0;
  }  

/*  */
.paralax{
 
    position: relative;
    top:1560px;
    background-image: url("assets/img/ParallaxOne_5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width:100%;
    height: 200px;
    /* border: 5px solid red; */
  
  
}



 
  h3{
      position: relative;
      height: 110px;
      font-weight: bolder;
      font-family: bold;
      color: rgb(226, 226, 226);
      font-size: 1.7rem;
      text-align: left;
      padding-left: 8px;
      top: 50px;

  }
  h3 span{
    /* border: 5px solid red; */
      font-family: sans-serif;
    padding-top: 20px;
    color: rgb(226, 226, 226);
    font-size: 0.9rem;
}
.bar {
    /* border: 5px solid red; */
    position: relative;
    background-color: #3d1c0f;
    top: 1580px;
    width: 100%;
    height: 280px;
}
h4
{ 
    
    position: relative;
    top: 10%;
    width:80%;
    left:5px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    text-align: center;
    /* border: 5px solid red; */
    width:80%;
    
    
    

}
h4 span{
    padding-top: 15px;
    display: block;

}

#docimg {
    position: relative;
    top: 5%;
    float: left;
     /* visibility: hidden; */
    height: 250px;
    /* border: 5px solid red; */
    
    
}
.skep{
    position: relative;
    top: 1600px;

}

#br{
    text-align: left;
    font-size: 0.7rem;
    margin: 0 auto;
    width: 75%;
    padding-bottom: 5px;

}

#rd{
    text-align: left;
    font-size: 0.7rem;
    margin: 0 auto;
    width: 75%;
    padding-bottom: 5px;

}



}

@media all and (min-width: 768px) and (max-width: 1024px) { 
    .ban1{
        background-image: url("assets/img/HeadlineImage_1.jpg");
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 35rem;
        top:px;
        }

        h1{
            position: relative;
            margin: 0 auto;
            font-size: 3.3rem;
            font-family: bold;
            color: aliceblue;
            text-align: center;
            font-weight: bolder;
            padding-top: 18px;
        
        
           }
        
           .p1{
               color: red;
               padding-top: 20px;
               text-align: center;
               max-width: 100%;
               height: 8\10vw;
               font-weight: bolder;
               font-size: 5.0rem;
               font-family: bold;
               background-color: rgba(255, 255, 255, 0.685);
               border-radius: 3px;
           }
        
           .p2{
               color: aliceblue;
               font-size: 01.8rem;
               max-width: 95%;
              text-align:  center;
              padding-left:12px; 
        
              }
              h2{
                color:rgb(7, 3, 3);
                position: relative;
                left:30px;
                top: 20px;
                width:75%;
                text-align: left;
                font-size: 1.2rem;
                width: 90%;
                padding-top:10px;
               } 
              

              /* goey */

              .item{
                position: relative;
                margin: 0 auto;
               text-align: center;
              width:200px;
              text-align:center;
              display:block;
              margin: 30px;
              float:left;
              
            }
            
            #index-gallery{
                position: absolute;
                top:650px;
                background: linear-gradient(90deg, rgba(131,61,16,0.4472163865546218) 0%, rgba(214,134,44,0.9710259103641457) 45%, rgba(204,174,26,0.23993347338935578) 100%);
              width:100%;
              height: 300px;
             
            }
            
            .innerdiv{
                position: relative;
                margin: 0 auto;
                width: 800px;
                height: 300px;
            
            
            }
            
            .imgitem{
                position: relative;
                margin: 0 auto;
                width:200px;
                
            }
             .item, p{
                 text-align: center;
                 font-size: 1.1em;
             }
             /*  */

             .cp1{
                position: relative;
                top:300px
            }
            #p23{
                  
               color: rgb(0, 0, 0);
               position: relative;
               text-align: left;
               max-width: 80% ;
               height: 20px;
               font-family: bold;
               top: 50px;
               font-size: 0.75rem;
               left: 25px;
               margin: 0;
              }
           
               #p23 ,span{
                  padding-top:20px;
              }
              #enz{
                  list-style-type: none; 
               position: relative;
               top: 80px;
               color: rgb(1, 2, 2);
               font-size: 0.6rem;
               margin: 15px;
               left: -25px;
           }
             #p24{
           
               position: relative;
               top:70px;
               font-size: 0.75rem;
               max-width: 80% ;
               left:20px;
             }
           
           
              
              
              #enz li:before {
               content: '✓ ';
             }
             
             #p4{
               color: rgb(0, 0, 0);
               position: relative;
               top: 240px;
               text-align: left;
               max-width: 80% ;
               height: 20px;
               font-family: bold;
               font-size: 0.75rem;
               left: 25px;
               margin: 0;
             }  

             /*  */
             .paralax{
 
                position: relative;
                top:360px;
                background-image: url("assets/img/ParallaxOne_5.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                max-width:100%;
                height: 200px;
                /* border: 5px solid red; */
              
              
            }
            
            
            
             
              h3{
                  position: relative;
                  height: 120px;
                  font-weight: bolder;
                  font-family: bold;
                  color: rgb(226, 226, 226);
                  font-size: 1.7rem;
                  text-align: left;
                  padding-left: 8px;
                  top: 30px;
            
              }
              h3 span{
                /* border: 5px solid red; */
                  font-family: sans-serif;
                padding-top: 20px;
                color: rgb(226, 226, 226);
                font-size: 0.9rem;
            }
            /*  */
            .bar {
                /* border: 5px solid red; */
                position: relative;
                background-color: #3d1c0f;
                top: 400px;
                width: 100%;
                height: 280px;
            }
            h4
            { 
                
                position: relative;
                top: 10%;
                width:80%;
                left:5px;
                margin: 0 auto;
                color: rgb(255, 255, 255);
                font-size: 1.5rem;
                text-align: center;
                /* border: 5px solid red; */
                width:80%;
                
                
                
            
            }
            h4 span{
                padding-top: 30px;
                display: block;
            
            }
            
            #docimg {
                position: relative;
                top: 5%;
                float: left;
                 /* visibility: hidden; */
                height: 250px;
                /* border: 5px solid red; */
                
                
            
            }
            .skep{
                position: relative;
                top: 440px;
            
            }
            
            #br{
                text-align: left;
                font-size: 0.8rem;
                margin: 0 auto;
                width: 75%;
                padding-bottom: 5px;
            
            }
            
            #rd{
                text-align: left;
                font-size: 0.8rem;
                margin: 0 auto;
                width: 75%;
                padding-bottom: 5px;
            
            }
           
           






}

@media all and (min-width: 1024px) and (max-width: 1280px) { 

    .ban1{
        background-image: url("assets/img/HeadlineImage_1.jpg");
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
       height: 35rem;
       
        }

        h1{
            position: relative;
            margin: 0 auto;
            font-size: 3.3rem;
            font-family: bold;
            color: aliceblue;
            text-align: center;
            font-weight: bolder;
            padding-top: 18px;
        
        
           }
        
           .p1{
               color: red;
               padding-top: 20px;
               text-align: center;
               max-width: 100%;
               height: 8\10vw;
               font-weight: bolder;
               font-size: 5.0rem;
               font-family: bold;
               background-color: rgba(255, 255, 255, 0.685);
               border-radius: 3px;
           }
        
           .p2{
               color: aliceblue;
               font-size: 01.8rem;
               max-width: 95%;
              text-align:  center;
              padding-left:12px; 
        
              }
              h2{
                color:rgb(7, 3, 3);
                position: relative;
                left:30px;
                top: 20px;
                width:75%;
                text-align: left;
                font-size: 1.2rem;
                width: 90%;
                padding-top:10px;
               } 

              /*  */

              .item{
                position: relative;
                margin: 0 auto;
               text-align: center;
              width:200px;
              text-align:center;
              display:block;
              margin: 30px;
              float:left;
              
            }
            
            #index-gallery{
                position: absolute;
                top:650px;
                background: linear-gradient(90deg, rgba(131,61,16,0.4472163865546218) 0%, rgba(214,134,44,0.9710259103641457) 45%, rgba(204,174,26,0.23993347338935578) 100%);
              width:100%;
              height: 300px;
             
            }
            
            .innerdiv{
                position: relative;
                margin: 0 auto;
                width: 800px;
                height: 300px;
            
            
            }
            
            .imgitem{
                position: relative;
                margin: 0 auto;
                width:200px;
                
            }
             .item, p{
                 text-align: center;
                 font-size: 1.1em;
             }

             /*  */
             .cp1{
                position: relative;
                top:300px
            }
            #p23{
                  
               color: rgb(0, 0, 0);
               position: relative;
               text-align: left;
               max-width: 80% ;
               height: 20px;
               font-family: bold;
               top: 50px;
               font-size: 0.75rem;
               left: 25px;
               margin: 0;
              }
           
               #p23 ,span{
                  padding-top:20px;
              }
              #enz{
                  list-style-type: none; 
               position: relative;
               top: 80px;
               color: rgb(1, 2, 2);
               font-size: 0.6rem;
               margin: 15px;
               left: -25px;
           }
             #p24{
           
               position: relative;
               top:70px;
               font-size: 0.75rem;
               max-width: 80% ;
               left:20px;
             }
           
           
              
              
              #enz li:before {
               content: '✓ ';
             }
             
             #p4{
               color: rgb(0, 0, 0);
               position: relative;
               top: 240px;
               text-align: left;
               max-width: 80% ;
               height: 20px;
               font-family: bold;
               font-size: 0.75rem;
               left: 25px;
               margin: 0;
             }  
             /*  */
             .paralax{
 
                position: relative;
                top:360px;
                background-image: url("assets/img/ParallaxOne_5.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                max-width:100%;
                height: 400px;
                /* border: 5px solid red; */
              
              
            }
            
            
            
             
              h3{
                  position: relative;
                  height: 120px;
                  font-weight: bolder;
                  font-family: bold;
                  color: rgb(226, 226, 226);
                  font-size: 1.7rem;
                  text-align: left;
                  padding-left: 8px;
                  top: 30px;
            
              }
              h3 span{
                /* border: 5px solid red; */
                  font-family: sans-serif;
                padding-top: 20px;
                color: rgb(226, 226, 226);
                font-size: 0.9rem;
            }
            /*  */
            .bar {
                /* border: 5px solid red; */
                position: relative;
                background-color: #3d1c0f;
                top: 400px;
                width: 100%;
                height: 280px;
            }
            h4
            { 
                
                position: relative;
                top: 10%;
                width:80%;
                left:5px;
                margin: 0 auto;
                color: rgb(255, 255, 255);
                font-size: 1.9rem;
                text-align: center;
                /* border: 5px solid red; */
                width:80%;
                
                
                
            
            }
            h4 span{
                padding-top: 30px;
                display: block;
            
            }
            
            #docimg {
                position: relative;
                top: 5%;
                float: left;
                 /* visibility: hidden; */
                height: 250px;
                /* border: 5px solid red; */
                
                
            
            }
            /*  */
            .skep{
                position: relative;
                top: 440px;
            
            }
            
            #br{
                text-align: left;
                font-size: 0.8rem;
                margin: 0 auto;
                width: 75%;
                padding-bottom: 5px;
            
            }
            
            #rd{
                text-align: left;
                font-size: 0.8rem;
                margin: 0 auto;
                width: 75%;
                padding-bottom: 5px;
            
            }s



}

@media all and (min-width: 1280px) and (max-width: 2000px){
    .ban1{
        background-image: url("assets/img/HeadlineImage_1.jpg");
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 600px;
       
        }

        h1{
            position: relative;
            margin: 0 auto;
            font-size: 3.3rem;
            font-family: bold;
            color: aliceblue;
            text-align: center;
            font-weight: bolder;
            padding-top: 18px;
        
        
           }
        
           .p1{
               color: red;
               padding-top: 20px;
               text-align: center;
               max-width: 100%;
               height: 8\10vw;
               font-weight: bolder;
               font-size: 5.0rem;
               font-family: bold;
               background-color: rgba(255, 255, 255, 0.685);
               border-radius: 3px;
           }
        
           .p2{
               color: aliceblue;
               font-size: 01.8rem;
               max-width: 95%;
              text-align:  center;
              padding-left:12px; 
        
              }
    /*  */
    .item{
        position: relative;
        margin: 0 auto;
       text-align: center;
      width:200px;
      text-align:center;
      display:block;
      margin: 30px;
      float:left;
      
    }
    
    #index-gallery{
        position: absolute;
        top:650px;
        background: linear-gradient(90deg, rgba(131,61,16,0.4472163865546218) 0%, rgba(214,134,44,0.9710259103641457) 45%, rgba(204,174,26,0.23993347338935578) 100%);

      width:100%;
      height: 300px;
     
    }
    
    .innerdiv{
        position: relative;
        margin: 0 auto;
 
        width: 800px;
        height: 300px;
    
    
    }
    
    .imgitem{
        position: relative;
        margin: 0 auto;
        width:200px;
        
    }
     .item, p{
         text-align: center;
         font-size: 1.1em;
     }
  /*  */
  .cp1{
    position: relative;
    top:300px
}
#p23{
      
   color: rgb(0, 0, 0);
   position: relative;
   text-align: left;
   max-width: 80% ;
   height: 20px;
   font-family: bold;
   top: 50px;
   font-size: 1.0rem;
   left: 25px;
   margin: 0;
  }

   #p23 ,span{
      padding-top:30px;
  }
  #enz{
      list-style-type: none; 
   position: relative;
   top: 80px;
   color: rgb(1, 2, 2);
   font-size: 0.9rem;
   margin: 15px;
   left: -25px;
}
 #p24{

   position: relative;
   top:80px;
   font-size: 0.8rem;
   max-width: 80% ;
   left:20px;
 }


  
  
  #enz li:before {
   content: '✓ ';
 }
 
 #p4{
   color: rgb(0, 0, 0);
   position: relative;
   top: 240px;
   text-align: left;
   max-width: 80% ;
   height: 20px;
   font-family: bold;
   font-size: 0.75rem;
   left: 25px;
   margin: 0;
 }  
 /*  */

 .paralax{
 
    position: relative;
    top:360px;
    background-image: url("assets/img/ParallaxOne_5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width:100%;
    height: 400px;
    /* border: 5px solid red; */
  
  
}



 
  h3{
      position: relative;
      height: 120px;
      font-weight: bolder;
      font-family: bold;
      color: rgb(226, 226, 226);
      font-size: 1.7rem;
      text-align: left;
      padding-left: 8px;
      top: 30px;

  }
  h3 span{
    /* border: 5px solid red; */
      font-family: sans-serif;
    padding-top: 20px;
    color: rgb(226, 226, 226);
    font-size: 0.9rem;
}

.bar {
    /* border: 5px solid red; */
    position: relative;
    background-color: #3d1c0f;
    top: 400px;
    width: 80%;
    height: 280px;
}
h4
{ 
    
    position: relative;
    top: 10%;
    width:80%;
    left:5px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-size: 1.9rem;
    text-align: center;
    /* border: 5px solid red; */
    width:80%;
    
    
    

}
h4 span{
    padding-top: 30px;
    display: block;

}

#docimg {
    position: relative;
    top: 5%;
    float: left;
     /* visibility: hidden; */
    height: 250px;
    /* border: 5px solid red; */
    
}

/* } */
.skep{
    position: relative;
    top: 440px;

}

#br{
    text-align: left;
    font-size: 0.8rem;
    margin: 0 auto;
    width: 75%;
    padding-bottom: 5px;

}

#rd{
    text-align: left;
    font-size: 0.8rem;
    margin: 0 auto;
    width: 75%;
    padding-bottom: 5px;

}


}